version: '3'
services:
  crm-api:
    build: .
    image: crm-api
    container_name : crm-api
    restart: always
    ports:
      - '9010:80'
      #- '8012:5001'
    environment:
       ASPNETCORE_ENVIRONMENT: ${ASONETCORE_ENVIRONMENT}
    volumes:
      - crmapi:/app/wwwroot
volumes:
  crmapi:
