version: '3.7'
services:
  crm-api:
    build: .
    image: crm-api
    container_name : crm-api
    restart: always
    ports:
      - '9010:80'
      #- '8012:5001'
    environment:
       ASPNETCORE_ENVIRONMENT: ${ASONETCORE_ENVIRONMENT}
    volumes:
      - crmapi:/app/Presentation/CRCIS.Web.INoor.CRM.WebApi/wwwroot
    networks:
      - crm-api_default
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "3" 
volumes:
  crmapi:
networks:
  crm-api_default:
    external: true

